
      <div style="float:left; width:500px; margin:10px; margin-bottom:20px">
      <table class="dashboard" style="width:100%">

       <tr>
        <td colspan="2" style="background:{{ computing.color }}; height:30px">
        </td>
       </tr>

       <tr>
        <td><b>Name</b></td>
        <td>{{ computing.name }}</td>
       </tr>

       <tr>
        <td width="110px"><b>ID</b></td>
        <td>{{ computing.id }}</a></td>
       </tr>

       <tr>
        <td><b>Type</b></td>
        <td>{{ computing.type }}</td>
       </tr>

       <tr>
        <td><b>Owner</b></td>
        <td>{% if computing.user %}{{ computing.user }}{% else %}platform{% endif %}</td>
       </tr>

       <tr>
        <td><b>Require</b></td>
        <td>
          Sys conf: {{ computing.requires_sys_conf }} <br/>
          User conf: {{ computing.requires_user_conf }} <br/>
          User keys: {{ computing.requires_user_keys }}
        </td>
       </tr>

       <tr>
        <td><b>Supports</b></td>
        <td>
          Docker: {{ computing.supports_docker }} <br/>
          Singularity: {{ computing.supports_singularity }}
        </td>
       </tr>

       <tr>
        <td><b>Sys Conf</b></td>
        <td>{{ computing.sys_conf_data_json }} {% if request.user.is_superuser %} &nbsp;[<a href="/edit_computing_conf?type=sys&computing_uuid={{ computing.uuid}}">Edit</a>] {% endif %}</td>
       </tr>

       <tr>
        <td><b>User Conf</b></td>
        <td>{{ computing.user_conf_data_json }} &nbsp;[<a href="/edit_computing_conf?type=user&computing_uuid={{ computing.uuid}}">Edit</a>]</td>
       </tr>

       
       {% if computing.user %}
       <tr>
        <td><b>Operations</b></td>
        <td><a href="?action=delete&uuid={{ computing.uuid }}">Delete</a></td>
       </tr>
       {% endif %}
      </table>
      </div>