

      {% if details %}      

      <table class="dashboard" style="margin:10px">
        
       <tr>
        <td colspan="2" style="background:{{ container.color }}; height:15px">
        </td>
       </tr>

       <tr>
        <td><b>Name</b></td>
        <td>{{ container.name }}</td>
       </tr>

       <tr>
        <td><b>ID</b></td>
        <td>{{ container.id }}</td>
       </tr>

       <tr>
        <td><b>Image</b></td>
        <td>{{ container.image_name }}</td>
       </tr>

       <tr>
        <td><b>V. tag</b></td>
        <td>{{ container.image_tag }}</td>
       </tr>

       <tr>
        <td><b>Type</b></td>
        <td>{{ container.type }}</td>
       </tr>

       <tr>
        <td><b>Owner</b></td>
        <td>{% if container.user %}{{ container.user }}{% else %}platform{% endif %}</td>
       </tr>

       <tr>
        <td><b>Registry</b></td>
        <td>{{ container.registry }}</td>
       </tr>

       <tr>
        <td colspan=2><b>Default port(s)</b>
        &nbsp; &nbsp;{{ container.ports }}</td>
       </tr>

       <tr>
        <td colspan=2>
         <b>Supports dynamic ports</b> &nbsp; 
         {% if container.supports_dynamic_ports %}
           <input type="checkbox" name="container_supports_user_auth" checked disabled/> 
         {% else %}
           <input type="checkbox" name="container_supports_user_auth" disabled/> 
         {% endif %}
        </td>
       </tr>

       <tr>
        <td colspan=2>
         <b>Supports user auth</b> &nbsp; 
         {% if container.supports_user_auth %}
           <input type="checkbox" name="supports_user_auth" checked disabled/> 
         {% else %}
           <input type="checkbox" name="supports_user_auth" disabled/> 
         {% endif %}        </td>
       </tr>

       <tr>
        <td colspan=2>
         <b>Supports pass auth</b> &nbsp; 
         {% if container.supports_pass_auth %}
           <input type="checkbox" name="supports_pass_auth" checked disabled/> 
         {% else %}
           <input type="checkbox" name="supports_pass_auth" disabled/> 
         {% endif %}        </td>
       </tr>

       
       {% if container.user %}
       <tr>
        <td><b>Operations</b></td>
        <td><a href="?action=delete&uuid={{ container.uuid }}">Delete</a></td>
       </tr>
       {% endif %}
      </table>
      <br/>
      
      
      {% else %}
      <div style="width:300px; float:left; border: #e0e0e0 solid 1px; margin:10px; background:#f8f8f8; margin-bottom:15px">

        
        <div style="padding:10px; margin-top:5px; text-align:center; border-bottom: {{container.color}} solid 10px; ">
        <a href="?uuid={{ container.uuid }}">{{ container.name }}</a>&nbsp; 
        {% if container.type == 'docker' %}<img src="/static/img/docker-logo.svg" style="height:18px; width:18px; margin-bottom:4px" />{% endif %}
        {% if container.type == 'singularity' %}<img src="/static/img/singularity-logo.svg" style="height:18px; width:18px; margin-bottom:4px" />{% endif %}
        </div>
        
        <div style="padding:10px;">

        <b>Image:</b> {{ container.image_name }}

        <br/>
        <b>Version:</b> {{ container.image_tag }}
        </div>
        
        <div style="margin-bottom:13px; margin-top: 3px; text-align:center">
        <a href="/create_task?task_container_uuid={{ container.uuid }}" class="btn btn-light" style="border: #c0c0c0 1px solid">&nbsp;<i class="fa fa-play" style="color:green"></i></a>
        </div>    
      
      
      
      </div>
      
      {% endif  %}






      