

          {% if details %}      

         
          <table class="dashboard">

           <tr>
            <td><b>Name</b></td>
            <td>{{ task.name }}</td>
           </tr>

           <tr>
            <td><b>ID</b></td>
            <td>{{ task.id }}</td>
           </tr>

           <tr>
            <td><b>Container</b></td>
            <td><a href="/containers/?uuid={{ task.container.uuid }}">{{ task.container.image }}</a></td>
           </tr>

           <tr>
            <td><b>Status</b></td>
            <td>{{ task.status }}</td>
           </tr>

           <tr>
            <td><b>Created at</b></td>
            <td>{{ task.created }}</td>
           </tr>


           <tr>
            <td><b>Running on</b></td>
            <td>{{ task.computing }}</td>
           </tr>

           <!-- <tr>
            <td><b>Task pid</b></td>
            <td>{{ task.pid}}</td>
           </tr> -->

           <tr>
            <td><b>IP</b></td>
            <td>{{ task.ip}}</td>
           </tr>

           <tr>
            <td><b>Port</b></td>
            <td>{{ task.port }}</td>
           </tr>
           
           <tr>
            <td><b>Task tunnel port</b></td>
            <td>{{ task.tunnel_port }}</td>
           </tr>

           {% if task.auth_pass %}
           <tr>
            <td><b>Task Auth pass</b></td>
            <td>******</td>
           </tr>
           {% endif %}
           

           <tr>
            <td><b>Operations</b></td>
            
            <td>
            {% if task.status == "running" %}
            <a href="?uuid={{task.uuid}}&action=stop&details={{details}}">Stop</a> | 
            {% else %}
            <!-- <a href=?uuid={{task.uuid}}&action=start>Start</a> |  -->
            <font color="#c0c0c0">Stop</font> | 
            
            {% endif %}
            <a href="?uuid={{task.uuid}}&action=delete&details=False">Delete</a>
            {% if task.status == "running" %}
             | <a href="?uuid={{task.uuid}}&action=connect">Connect</a>
            {% else %}
             | <font color="#c0c0c0">Connect</font>
            {% endif%}
             
            | <a href="/task_log/?uuid={{task.uuid}}&action=viewlog">View Log</a>

            </td>
  
           </tr>

          </table>
          
          {% else %}
          <div style="width:300px; float:left; border: #e0e0e0 solid 1px; margin:10px; background:#f8f8f8; margin-bottom:20px">
            <!-- <div>
            <div style="background:{{task.container.color}}; height:24px; width:149px; float:left"></div>
            <div style="background:{{task.computing.color}}; height:24px; width:149px; float:left"></div>
            </div> -->
            
            <!-- <div style="background:{{task.color}}; height:24px;"></div> -->
            
            <div style="padding:10px; text-align:center; border-bottom: #e0e0e0 solid 1px; ">
            <a href="?uuid={{ task.uuid }}"><b>{{ task.name }}</b></a>
            </div>
            
            <div style="padding:10px;">
            <!-- <b>Container:</b> {{ task.container.name }} <span style="font-size:14px; background-color:{{task.container.color}}">&nbsp;&nbsp;&nbsp;&nbsp;</span> <br/>
            <b>Computing:</b> {{ task.computing.name }} <span style="font-size:14px; background-color:{{task.computing.color}}">&nbsp;&nbsp;&nbsp;&nbsp;</span><br/> -->

            <b>Container:</b> {{ task.container.name }}
            <a href="/containers/?uuid={{ task.container.uuid }}" style="color:{{task.container.color}}"><i class="fa fa-external-link" ></i></a> <br/>
            
            <b>Computing:</b> {{ task.computing.name }}
            <a href="/computings/" style="color:{{task.computing.color}}"><i class="fa fa-external-link" ></i></a><br/>            
            
            
            {% if task.status == "running" %}
             <b>Status:</b> <font color="green">running</font>
            {% else %}
             <b>Status:</b> {{ task.status }}
            {% endif %}
            </div>
            
            <div style="margin-bottom:10px; text-align:center; padding:5px">
            {% if task.status == "running" %}
            <a href="?uuid={{task.uuid}}&action=connect" class="btn btn-connect">Connect</a>
            {% else %}
            <a href="?uuid={{task.uuid}}&action=connect" class="btn btn-disabled">Connect</a>
            {% endif %}            
            
            
            </div>    
          
          
          
          </div>
          
          {% endif  %}