{% load static %} 
{% include "header.html" %}
{% include "navigation.html" with main_path='/main/' %}

<br/>
<br/>

<div class="container">
  <div class="dashboard">
    <div class="span8 offset2">
      <h1>New Task</h1> 
      <hr>

      {% if data.step == 'one' %}

          <h3>Step 1: name, container and computing.</h3> 
          
          <br/>
          
          <form action="/create_task/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="step" value="one" />


          <table class="dashboard" style="max-width:700px">
    
           <tr>
            <td><b>Task name </b></td>
            <td>
             <input type="text" name="task_name" value="" placeholder="" size="23" required />
            </td>
           </tr>

          <tr>
            <td><b>Task container</b></td><td>
              <select name="task_container_uuid" >
              <!-- <option value="metadesktop" selected>Meta Desktop</option>
              <option value="astroccok">Astrocook</option>
              <option value="gadgetviewer">Gadget Viewer</option> -->
              {% for container in data.containers %}
              <option value="{{container.uuid}}">{{container.name}} ({{container.type}})</option>
              {% endfor %}              
              
              </select>
              &nbsp; | <a href="/add_container">Add new...</a>          
            </td>
           </tr>
           
           <tr>
            <td><b>Computing resource</b></td><td>
              <select name="task_computing" >
              {% for computing in data.computings %}}
              <option value="{{ computing.uuid }}">{{ computing.name}} ({% if computing.user %}{{ computing.user }}{% else %}platform{% endif %})</option>
              {% endfor %}
              </select>
              &nbsp; | <a href="/add_computing">Add new...</a>
            </td>
           </tr>

           <tr>
           <td colspan=2 align=center style="padding:20px">
           <input type="submit" value="Next">
           </td>
           </tr>
          </table>
          </form>

      {% elif data.step == 'two' %}

          <h3>Step 2: authentication and computing details</h3> 
          
          <br/>
          
          <form action="/create_task/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="step" value="two" />
          <input type="hidden" name="task_uuid" value="{{ data.task.uuid }}" />

          <table class="dashboard" style="max-width:700px">

           {% if data.task.container.require_user %}
           <tr>
            <td><b>Task user</b></td>
            <td>
             <input type="text" name="auth_user" value="" placeholder="" size="23" />
            </td>
           </tr>
           {% endif %}

           {% if data.task.container.require_pass %}
           <tr>
            <td valign="top"><b>Set task password</b></td>
            <td>
             <input type="password" name="auth_password" value="" placeholder="" size="23" /><br>
             <font size=-1>Use a non-sensitive password as it will be stored in plain text. 6 chars min.</font>
            </td>
           </tr>
           {% endif %}

           <tr>
            <td><b>Access method</b></td><td>
              <select name="access_method" >
              <option value="http_proxy" disabled>HTTP proxy</option>
              <option value="direct_tunnel" selected>Direct tunnel</option>
              <option value="None">None</option>
              </select>
            </td>
           </tr>

           <!-- <tr>
            <td><b>Run using</b></td><td>
              <select name="run_using" >
              <option value="docker" selected>Docker</option>
              <option value="singularity">Singularity</option>
              </select>
            </td>
           </tr>  -->
                     
           <tr><td colspan=2>
           <table><tr><td  style="border: 1px solid lightgray;" >
           I understand that files saved or modified in this container, if not explicitly saved to a persistent storage, will be LOST when the task ends.
           </td><td  style="border: 1px solid lightgray;" >
           <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
           </td></table>
           </td></tr>
           <tr>
           <td colspan=2 align=center style="padding:20px">
           <input type="submit" value="Create">
           </td>
           </tr>
          </table>
          </form>


      {% else %}
        Ok, task created. Go back to your <a href="/tasks">task list</a>.
        

      {% endif %} 
  
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      
    </div>
  </div>
</div>

{% include "footer.html" %}






