<html>
    <head>
        <title>Rosetta WebApp</title>
    </head>
    <body>
        <div style="text-align:center; margin-top:50px">
            {% if data.error %}
            <div style="color:red">
              {{ data.error }}
            </div>
            {% elif data.success %}
            <div style="color:green">
              {{data.success}}
            </div>
            {% else %}            
            <br/>
            {% endif %} 
            
            <form class="form-signin" role="form" action='/login/' method='POST'>
            {% csrf_token %}
            <input style="max-width:300px; margin: 5px auto" type="username" class="form-control" placeholder="Username" name='username' required autofocus>
            <input style="max-width:300px; margin: 5px auto" type="password" class="form-control" placeholder="Password" name='password'>
            <input style="width:100px; height:35px; margin: 5px auto; font-size:16px" type='submit' class="btn btn-success" value='Log in' />
            </form>
        </div>
    </body>
    

</html>

