{% load static %} 
{% include "header.html" with onload="onload='init()'" use_bg=True  %}

    <center>
    <div style="width:300px;">
      <form class="form-signin" role="form" action='/login/' method='POST'>
        {% csrf_token %}
        <br />
        <a href="/"><img src="{% static 'img/Dropely_logo_inverse_accent3.png' %}" alt="Dropely" style="height:100px"></a>
        <p style="font-size: 16px;">
        <b>Oooops! You are not logged in. <br />Please log in, and repeat the operation.</b>
        <br />
        <br />
        <input type="username" class="form-control" placeholder="Username" name='username' required autofocus>
        <input type="password" class="form-control" placeholder="Password" name='password' required>
        <br />
        <input type='submit' class="btn btn-lg btn-success btn-block" value='Log in' />
        {% if error %}
        <div class='alert alert-danger alert-dismissable'>
          <button type="button" class="close" data-dismiss="alert"></button>
          {{ error }}
        </div>
        {% endif %}
        </p>
      </form>
      <br /><br /><br />
    </div>
    </center>




{% include "footer.html" %}
