{% load static %} 
{% include "header.html" %}
{% include "navigation.html" with main_path='/main/' %}

<br/>
<br/>

<div class="container">
  <div class="dashboard">
    <div class="span8 offset2">
      

      {% if data.task %}
      <h1><a href="/tasks">Task List</a> &gt; {{ data.task.id }}  </h1>      
      {% else %}
      <h1>Task List</h1>
      {% endif %}

      <hr>
      {% if data.task %}
      {% include "components/task.html" with task=data.task details=True %}
      {% else %}
      {% for task in data.tasks %}
      {% include "components/task.html" with task=task %}
      {% endfor %}
      <br />
      <a href="/create_task">Add new...</a>
      {% endif %}
           
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      
    </div>
  </div>
</div>

{% include "footer.html" %}





