{% load static %} 
{% include "header.html" %}
{% include "navigation.html" with main_path='/main/' %}

<br/>
<br/>

<div class="container">
  <div class="dashboard">
    <div class="span8 offset2">
      
      {% if data.computing %}
      <h1><a href="/computings">Computing List</a> &gt; {{ data.computing.id }}  </h1>      
      {% else %}
      <h1>Computing List</h1>
      {% endif %}
      
      <hr/>

      {% if data.computing %}
      {% include "components/computing.html" with computing=data.computing %}
      {% else %}
      
      {% for computing in data.computings %}
      {% include "components/computing.html" with computing=computing %}
      <br />
      {% endfor %}
  
      
      <!-- <br />
      <a href="/add_computing">Add new...</a> -->
      
      {% endif %}
      <br />
      <br />
      <br />
      <br />

    </div>
  </div>
</div>

{% include "footer.html" %}





