{% load static %} 
{% include "header.html" %}
{% include "navigation.html" with main_path='/main/' %}

<br/>
<br/>

<div class="container">
  <div class="dashboard">
    <div class="span8 offset2">
      
      {% if data.container %}
      <h1><a href="/containers">Container List</a> &gt; {{ data.container.id }}  </h1>      
      {% else %}
      <h1>Container List</h1>
      {% endif %}
      
      <hr/>

      {% if data.container %}
      {% include "components/container.html" with container=data.container %}
      {% else %} 
      {% for container in data.containers %}
      {% include "components/container.html" with container=container %}
      <br />
      {% endfor %}

      <br />
      <a href="/add_container">Add new...</a>
      
      {% endif %}
      <br />
      <br />
      <br />
      <br />

    </div>
  </div>
</div>

{% include "footer.html" %}





