{% load static %} 
{% include "header.html" with onload="onload=''" use_bg=True  %}
{% include "navigation.html"%}

    <!-- Header -->
    <header id="top" class="header">
        <div style="display:table-row">
            <div class="text-vertical-center">
                <h1>Rosetta <img src="/static/img/emoji_u1f6f0.png" style="height:84px; width:64px; padding-bottom:20px"></h1>
                <h2 style="margin-top:10px; margin-left:25px; margin-right:25px; font-weight:100; line-height: 30px;"><i>A container-centric Science Platform<br></i></h2>
            </div>
        </div>
        <div style="display:table-row">
            <div class="text-vertical-bottom">
                <a href="https://github.com/sarusso/Rosetta" class="btn btn-dark btn-lg">Find Out More</a>
            </div>
        </div>
    </header>

{% include "footer.html" %}



